.main-container {
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.title-main {
  display: flex;
  flex-shrink: 1;
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

.title-bar {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 2rem;
  color: rgb(255, 255, 255);
  background: linear-gradient(270deg, #ffffff 10%, #114A15 100%);
  box-shadow: 0px 10px 12px -8px rgba(0,0,0,0.75);
  border: 2px solid #114A15;
  border-right: 3px;
  overflow: scroll;

  &:hover {
    background: linear-gradient(270deg, #114A15 0%, #2848B1 100%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
  }
}

.menu-bar {
  display: flex;
  margin-top: 5px;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  box-shadow: 0px 10px 12px -8px rgba(0,0,0,0.75);
  overflow: scroll;
}

.example-spacer {
  flex: 1 1 auto;
}

.nav-icon {
  padding: 10px;
  cursor: pointer;

   &:hover {
     color: rgba(41,41,141,.37);

   }
}

.icon-menu {
}

.body-image {
  display: flex;
  width: 100%;
  margin-top: 4px;
}

.menu-title-text {
  padding: 0 20px;
  cursor: pointer;
}

.mat-toolbar {
  background: #f5f5f5;
  color: rgba(41,41,141,.87)!important;
}
