<div>
  <div class="title-bar">
    <div class="title-main">ARBOR WALK COMMUNITY</div>
  </div>
  <div>
    <mat-toolbar class="menu-bar">
      <div class="example-icon" aria-label="Example icon-button with menu icon">
        <div>
          <i class="fa fa-bars fa-2x icon-menu" aria-hidden="true"> </i>
        </div>
      </div>
      <div class="menu-title-text">News</div>
      <div class="menu-title-text">HOA Meeting Reports</div>
      <div class="menu-title-text">Policies</div>
      <div class="menu-title-text">Contact US</div>
      <span class="example-spacer"></span>
      <div class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </div>
      <div class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </div>
    </mat-toolbar>
  </div>
</div>

<div >

  <img class="body-image"
       src="../assets/images/arborWalkMainImag.jpeg"
       alt="Italian Trulli">

  <img class="body-image"
       src="../assets/images/ArborWalkImag2.jpeg"
       alt="Italian Trulli">
</div>
