<div>
  <div class="title-bar">
    <h1>ARBOR WALK COMMUNITY</h1>
  </div>
  <p>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Arbor Walk</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
</div>

<div>
  <img src="../assets/images/ArborWalkImag2.jpeg" alt="Italian Trulli">
  <img src="../assets/images/arborWalkMainImag.jpeg" alt="Italian Trulli">
</div>
