<div>
  <div class="title-bar">
    <div class="title-main">ARBOR WALK COMMUNITY</div>
  </div>
  <div>
    <mat-toolbar class="menu-bar">
      <div class="example-icon" aria-label="Example icon-button with menu icon">
        <div>
          <i class="fa fa-bars fa-2x icon-menu" aria-hidden="true"> </i>
        </div>
      </div>
      <div class="menu-title-text">News</div>
      <div class="menu-title-text">HOA Meeting Reports</div>
      <div class="menu-title-text">Policies</div>
      <div class="menu-title-text">Contact US</div>
      <span class="example-spacer"></span>
      <div class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </div>
      <div class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </div>
    </mat-toolbar>
  </div>
</div>

<div >
  <img class="body-image"
       src="../assets/images/arborWalkMainImag.jpeg"
       alt="Italian Trulli">

  <img class="body-image"
       src="../assets/images/ArborWalkImag2.jpeg"
       alt="Italian Trulli">
</div>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular Amazon Cognito</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarContent" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signUp" routerLinkActive="active" *ngIf="!isAuthenticated">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signIn" routerLinkActive="active" *ngIf="!isAuthenticated">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active" *ngIf="isAuthenticated">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" (click)="signOut()" *ngIf="isAuthenticated">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
