<div class="sign-up-container">
  <div class="sign-up-box-container">
    <div class="sign-up-box">
      <div class="row my-5">
        <div class="col-4">
          <div class="card">
            <div class="card-body" *ngIf="!isConfirm">
              <div class="row">
                <div class="col mb-2">
                  <label for="email" class="form-label label-format">Email:</label>
                  <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="input-group input-group-sm">
                    <label for="password" class="form-label label-format">Password:</label>
                    <input [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control form-control-sm">
                    <button type="button" class="btn btn-outline-secondary">
                      <img src="../../assets/images/icons/eye-fill.svg" alt="eye icon for display" [hidden]="!showPassword" (click)="hidePassword()">
                      <img src="../../assets/images/icons/eye-slash-fill.svg" alt="eye icon for display" [hidden]="showPassword" (click)="hidePassword()">
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col d-grid button-format">
                  <button type="button" (click)="signUp()" class="btn btn-sm btn-success" [disabled]="loading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                    Sign up
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body" *ngIf="isConfirm">
              <div class="row">
                <div class="col mb-2">
                  <label for="code" class="form-label">Code:</label>
                  <input type="text" id="code" name="code" #code="ngModel" [(ngModel)]="user.code" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row">
                <div class="col d-grid">
                  <button type="button" (click)="confirmSignUp()" class="btn btn-sm btn-success" [disabled]="loading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                    Confirm
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

